<%- include ('../../blocks/user-header.ejs') %>
<div class="container">
    <div class="col-12 align-content-center">
        <div class="media">
            <div class="row justify-content-md-center plant-info">
                <img class="plant-info__img align-self-center" src="/public/images/1.png" class="align-self-start mr-3"
                     alt="...">
                <h4 class="mt-0 align-self-center"><%= plant.name %></h4>
                <div class="media-body plant-info__text">
                    <div class="plant-info__requirements">
                        <h3 class="mt-0">Описание и требования по уходу</h3>
                        <span><%= plant.requirements %></span>
                    </div>
                    <div class="plant-info__type">
                        <span class="plant-info__subtitle">Тип растения: <%=plant_type.name%></span>
                    </div>
                    <div class="plant-info__window-type">
                        <span class="plant-info__subtitle">Подходящее окно: <%=window_type.name%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../../blocks/footer.ejs') %>